<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313284362971-vgg6q5p577f72ocrjrha3rd4tgo7tuck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313284362971-vgg6q5p577f72ocrjrha3rd4tgo7tuck</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313284362971-6v5qienqo1u9hrnbqoi715eppj1c1h52.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKXaFjE3id8_4b_tO2B575P-HsxshwNUs</string>
	<key>GCM_SENDER_ID</key>
	<string>313284362971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nikeEcom</string>
	<key>PROJECT_ID</key>
	<string>authentication-8e330</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-8e330.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313284362971:ios:c567edd12c603f5ab082fe</string>
</dict>
</plist>